.sidebar {
	flex: 1;
	height: 35vh;
	background-color: rgb(219, 148, 17);
	position: sticky;
	top: 50px;
	box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.28);
	-webkit-box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.28);
	-moz-box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.28);
	margin-bottom: 20px;
}

.sidebarWrapper {
	padding: 30px 10px;
	color: #555;
}
.sidebarMenu {
	margin-bottom: 10px;
}

.sidebarTitle {
	font-size: 15px;
	color: orange;
}
.sidebarList {
	list-style: none;
	padding: 10px;
}

.sidebarListItem {
	padding: 2px;
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 10px;
	text-decoration: none;
}
.active {
	background-color: white;
}
.sidebarListItem.active,
.sidebarListItem:hover {
	background-color: white;
}
