.sidebar {
	flex: 1;
	height: 35vh;
	background-color: orange;
	position: sticky;
	top: 50px;
}

.sidebarWrapper {
	padding: 30px 10px;
	color: #555;
}
.sidebarMenu {
	margin-bottom: 10px;
}

.sidebarTitle {
	font-size: 15px;
	color: orange;
}
.sidebarList {
	list-style: none;
	padding: 10px;
}

.sidebarListItem {
	padding: 2px;
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-radius: 10px;
	text-decoration: none;
}
.active {
	background-color: white;
}
.sidebarListItem.active,
.sidebarListItem:hover {
	background-color: white;
}
